* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #pais, #nombre-moneda, #valor-cambio {
  font-family: 'Poppins';
  font-size: 20px;
}

#pais, #nombre-moneda, #valor-cambio{
  padding: 5px;
}

.pais, .nombre-moneda, .valor-cambio {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  width: 300px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.data {
  width: 100%;
}

.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

#rango {
  width: 100%;
}