* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100px;
  width: 100%;
  background-color: #1f9725;
}

.header, .archivoSeleccionado {
  color: white;
  font-size: large;
}

.btnSeleccionarArchivo {
  padding: 10px;
  font-size: large;
  cursor: pointer;
  border: 3px solid white;
}

.btnSeleccionarArchivo:hover {
  border: 3px solid rgb(182, 182, 182);
}

#main {
  display: flex;
  padding: 30px;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  background-color: gray;
  margin: 20px auto;
}

#main img {
  width: 300px;
}