*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  line-height: 5rem;
}

.row {
  height: 50px;
  width: 100%;
}

.ele {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.e0 {
  background-image: url('../img/0.png');
}
.e1 {
  background-image: url('../img/1.png');
}
.e2 {
  background-image: url('../img/2.png');
}
.e3 {
  background-image: url('../img/3.png');
}
.e4 {
  background-image: url('../img/4.png');
}
.e5 {
  background-image: url('../img/5.png');
}
.e6 {
  background-image: url('../img/6.png');
}
.e7 {
  background-image: url('../img/7.png');
}
.e8 {
  background-image: url('../img/8.png');
}
.e9 {
  background-image: url('../img/9.png');
}
.e10 {
  background-image: url('../img/10.png');
}
.ex {
  background-image: url('../img/x.png');
}
.eigual {
  background-image: url('../img/=.png');
}