* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: gray;
  text-align: center;
}

h1 {
  font-size: 50px;
  line-height: 8rem;
}

ul {
  list-style: none;
  height: 150px;
}

li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

li:hover {
  border: 1px solid white;
}


a {
  color: #d8d8d8;
  text-decoration: none;
  padding: 20px;
}

span {
  margin-top: 30px;
  opacity: 50%;
}